.container{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}
.character{
  background-color: #161917;
}
@media(max-width:1680px){
  .container{
    max-width: 1440px;
  }
}
@media(max-width:1440px){
  .container{
    max-width: 1199px;
  }
}
@media(max-width:1199px){
  .container{
    max-width: 991px;
  }
}
@media(max-width:991px){
  .container{
    max-width: 767px;
  }
}
@media(max-width:767px){
  .container{
    max-width: 575px;
  }
}